@font-face{

font-family: 'montserat';

src: url('../font/Montserrat-Bold.otf');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: 'open_sans';

src: url('../font/OpenSans-Regular.ttf');

font-weight: normal;

font-style: normal;
}

.first_header {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 80px;
	height: 80px;
	margin-bottom: -50px;
	margin-left: 12rem;
}

.first_header_1 {
	margin-right: 12rem;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.first_header_1 img {
	width: 30px;
	height: 30px;
}

.first_header_1 span {
	color: red;
	font-family: 'open_sans';
	font-size: 14px;
	line-height: 3;
	margin-left: 10px;
}

a {
	text-decoration: none;
}

.total {
	margin-left: 1.3rem;
	margin-right: 1.3rem;
}

.first_block {
	width: 100%;
	min-height: 400px;
	background-image: url('../image/h-min.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.first_block_1 {
	width: 100%;
	height: 26px;
}

.go {
	color: white;
	margin-left: 130px;
	font-family: 'montserat';
	font-size: 50px;
}

.first_block_2 {
	width: 100%;
	min-height: 200px;
	background-color: black;
	opacity: 0.7;

}

.first_block_2 h2 {
	font-family: 'montserat';
	color: white;
	font-size: 24px;
	margin: 0;
	padding: 0;
	padding-left: 12rem;
	padding-top: 20px;
	line-height: 1.5;
}

.first_block_2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.first_block_2 li {
	font-family: 'open_sans';
	color: white;
	font-size: 14px;
	padding-left: 15rem;
	line-height: 1.5;
	padding-top: 5px;
}

.first_block_3 {
	height: 400px;
	background-color: red;
	opacity: 0.7;
	width: 25%;
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  	align-items: flex-start;
  	margin-top: -350px;
  	margin-left: 870px;
}

.first_block_3_1 h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  font-family: 'montserat';
  margin-left: 10px;
  padding-top: 50px;
  line-height: 1.5;
  font-size: 20px;
}

.first_block_3 p {
	color: white;
	font-family: 'open_sans';
	margin-left: 20px;
	font-size: 14px;
	margin-top: 40px;
}

.first_block_3_1 p {
	margin: 0;
  	padding: 0;
  	width: 90%;
  	color: white;
  	font-family: 'open_sans';
  	margin-left: 10px;
  	padding-top: 20px;
  	line-height: 1.5;
  	padding-right: 5px;
  	font-size: 14px;
}

.first_block_3 img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 50px;
}

.second_block {
	background-color: #c8c8c8;
	width: 100%;
	min-height: 400px;
}

.second_block_icons {
	min-height: 400px;
}

.second_block_story {
	background-color: #ebebeb;
	opacity: 0.7;
	width: 25%;
	height: 400px;
	margin-top: -400px;
  	margin-left: 870px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  	align-items: flex-start;
}

.second_block_icons_h {
	width: 70%;
	font-family: 'montserat';
	margin: 0;
	padding: 0;
	margin-left: 12rem;
	padding-top: 30px;
	margin-bottom: 50px;
}

.second_block_icons_h:before {
	content: "";
	position: absolute;
	display: flex;
	width: 120px;
	height: 15px;
	margin-top: 50px;
	background-color: red; 
	z-index: 20;
}

.second_block_icons_1 {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;

}

.icon img {
	width: 100px;
	height: 120px;
}

.icon p {
	width: 100px;
	height: 120px;
	font-family: 'open_sans';
	text-align: center;
	line-height: 1.5;
	font-size: 15px;
}

.second_block_story h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'open_sans';
  margin-left: 10px;
  padding-top: 50px;
  line-height: 1.5;
  font-size: 20px;
}

.second_block_story p {
	margin: 0;
  	padding: 0;
  	width: 90%;
  	font-family: 'open_sans';
  	margin-left: 10px;
  	line-height: 1.5;
  	padding-right: 5px;
  	font-size: 14px;
}

.second_block_story img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 50px;
}

.second_block_story span {
	margin-top: 40px;
	margin-left: 20px;
	font-family: 'open_sans';
	font-size: 14px;
}

.third_block {
	background-color: #c8c8c8;
	width: 100%;
	min-height: 200px;
}

.third_block_icons {
	min-height: 200px;
}

.third_block_story {
	background-color: #ebebeb;
	opacity: 0.7;
	width: 25%;
	margin: 0;
	padding: 0;
	height: 400px;
	margin-top: -319px;
  	margin-left: 870px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  	align-items: flex-start;
}

.third_block_icons_h h2 {
	width: 70%;
	font-family: 'montserat';
	margin: 0;
	padding: 0;
	margin-left: 200px;
	padding-top: 50px;
	margin-bottom: 50px;
}

.third_block_icons_h:before {
	content: "";
	position: absolute;
	display: flex;
	width: 140px;
	height: 15px;
	margin-top: 80px;
	margin-left: 360px;
	background-color: red; 
	z-index: 20;
}

.third_block_icons_1 {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
}

.third_icon {
	width: 220px;
	min-height: 150px;
	border: 1px solid red;
	border-radius: 110px;
	margin-bottom: 40px;
}

.third_icon h2 {
	width: 220px;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	font-family: 'montserat';
	text-align: center;
	line-height: 1.5;
	font-size: 15px;
	color: red;
}

.button {
	border-radius: 20px;
	background-color: red;
	color: white;
	border: none;
	padding: 5px;
	margin-left: 60px;
	margin-top: 30px;
	cursor: pointer;
}

#box1 img, #box3 img  {
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	margin-left: 50px;
}

#box1 p, #box3 p {
	color: red;
	text-decoration: none;
	margin: 0;
	padding: 0;
	margin-top: -35px;
	margin-left: 110px;
	font-family: 'open_sans';
	font-size: 12px;
}

#box2 p {
	color: red;
	margin: 0;
	padding: 0;
	font-family: 'open_sans';
	font-size: 12px;
	margin-top: 20px;
	line-height: 1.5;
	text-align: center;
}

#box2 {
	margin-bottom: -20px;
}

.third_block_story h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'open_sans';
  margin-left: 10px;
  padding-top: 50px;
  line-height: 1.5;
  font-size: 20px;
}

.third_block_story p {
	margin: 0;
  	padding: 0;
  	width: 90%;
  	font-family: 'open_sans';
  	margin-left: 10px;
  	line-height: 1.5;
  	padding-right: 5px;
  	font-size: 14px;
}

.third_block_story img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 50px;
}

.third_block_story span {
	margin-top: 30px;
	margin-left: 20px;
	font-family: 'open_sans';
	font-size: 14px;
}

.last_counter {
	width: 100%;
	min-height: 200px;
	background-color: #969595;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.last_counter_1, .last_counter_2, .last_counter_3 {
	width: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.last_counter_1_1, .last_counter_2_1, .last_counter_3_1 {
	width: 100px;
	min-height: 100px;
	border: 3px  solid black;
	background-color: white;
	border-radius: 50px;
	margin-top: 20px;
}

.last_counter_1 p, .last_counter_2 p, .last_counter_3 p {
	width: 100px;
	font-family: 'open_sans';
	text-decoration: bold;
	font-size: 22px;
	text-align: center;
}

.last_counter_1_1 p, .last_counter_2_1 p, .last_counter_3_1 p {
	width: 100px;
	font-family: 'open_sans';
	text-decoration: bold;
	font-size: 34px;
	text-align: center;
}

.footer {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
}

.footer img {
	height: 50px;
	width: 50px;
}

.footer p {
	font-family: 'open_sans';
	margin-bottom: 20px;
	margin-left: 12rem;
}